<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
  <title><%= title %></title>
</head>
<body>
  <%- nav %>

  <main class="inv-listing">
    <h1>Sport Cars</h1>

    <ul class="vehicle-list">

      <li class="vehicle-card">
        <a href="/inv/detail/1">
          <img src="/images/vehicles/camaro-tn.jpg" alt="Chevy Camaro">
          <h2>2018 Chevy Camaro</h2>
        </a>
      </li>

      <li class="vehicle-card">
        <a href="/inv/detail/2">
          <img src="/images/vehicles/mustang-tn.jpg" alt="Ford Mustang">
          <h2>2020 Ford Mustang</h2>
        </a>
      </li>

    </ul>

  </main>

  <%- include("../partials/footer") %>
</body>
</html>
