<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
  <title><%= title %></title>
</head>
<body>
  <%- nav %>

  <main class="inv-listing">
    <h1>Sedans</h1>

    <ul class="vehicle-list">
      <li class="vehicle-card">
        <a href="/inv/detail/5">
          <img src="/images/vehicles/crown-victoria-tn.jpg" alt="Ford Crown Victoria">
          <h2>2013 Ford Crown Victoria</h2>
        </a>
      </li>
    </ul>

  </main>

  <%- include("../partials/footer") %>
</body>
</html>
