<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
  <title><%= title %></title>
</head>
<body>
  <%- nav %>

  <main class="inv-listing">
    <h1>SUVs</h1>

    <ul class="vehicle-list">
      <li class="vehicle-card">
        <a href="/inv/detail/4">
          <img src="/images/vehicles/hummer-tn.jpg" alt="GM Hummer">
          <h2>2016 GM Hummer</h2>
        </a>
      </li>
    </ul>

  </main>

  <%- include("../partials/footer") %>
</body>
</html>
